@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #000;
}

/* Header */

header {
    background-color: #000;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    color: #dc3545;
    font-size: 2.5rem;
}

header span {
    color: #fff;
}

header .navegacao-primaria{
    display: flex;
    gap: 30px;
    align-items: center;
}

header .navegacao-primaria li a{
    width: 0px;
    height: 0px;
    color: #fff;
    font-size: 1.3rem;
}

header .navegacao-primaria li a::after {
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 4px solid transparent;
    display: block;
    transition: .9s ;
}

header .navegacao-primaria li a:hover::after {
    width: 100%;
    height: 0px;
    padding: 0px;
    border-bottom: 4px solid #dc3545;
}



/* Download CV Section */

.section-div{
    animation: initialize .7s forwards;
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 60px;
}

.section-div div{
    margin-top: 120px;
    align-self: start;
    display: grid;
    gap: 30px;
}

.section-div div h2{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #f7f7f7;
}

.section-div div p{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: #f7f7f7;
}

.section-div div a{
    justify-self: start;
    color: #f7f7f7;
    padding: 15px 40px;
    border-radius: 5px;
    border: 2px solid #f7f7f7;
}


.section-div img {
    max-width: 100%;
}

.digitando::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: blink .5s infinite;
}

@keyframes blink{
    from {
        opacity: 1;
        
    } to{
        opacity: 0;
        
    }
}

@keyframes initialize{
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    } to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* Seção principal sobre mim */

main {
    background-color: #111;
    color: #fff;
}

main .sobre{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    padding: 40px;
}

.sobre_titulo{
    margin: 30px 0;
    grid-column: 1/-1;
    text-align: center;
}

.sobre_titulo h1{
    font-size:2.5rem;
    color: #ff5d56;
    margin-bottom: 15px;
    font-family: 'Berkshire Swash', cursive;
}

.sobre_titulo p{
    color: #707070;
    font-size: 1.4rem;
    margin-bottom:1rem;
    position: relative;
}

.sobre_titulo div{
    display: flex;
    gap: 10px;
    justify-content:center;
}

.sobre_titulo span{
    display: block;
    width: 20px;
    height: 20px;
    border-radius:50%;
    background-color: #dc3545;
}

.sobre img{
    animation: sideSection .5s ease-in-out forwards;
    cursor: pointer;
    grid-row: 2;
    max-width: 100%;
    border-radius: 4px;
    filter: blur(0);
}

.sobre img:hover{
    transition: .5s ease-in;
    filter: blur(1px);
}

.sobre_conteudo{
    animation: upSection .6s ease-in-out forwards;
    grid-column: 2/-1;
    color:#707070;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sobre_texto{
    display: grid;
    grid-column:1/-1;
    grid-template-columns: 1fr 1fr;
}

.sobre_texto h1{
    font-size:2.3rem;
    color: white;
    grid-column: 1/-1;
}

.sobre_texto h1::after{
    background-color: #ff5d56;
    height: 6px;
    width: 60px;
    margin: 20px 0;
    content: '';
    display: block;
    border-radius: 5px;
}

.sobre_texto p{
    font-size: 1.3rem;
    grid-row: 2;
    grid-column: 1/-1;
}

.sobre_info{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap: 15px;
    align-items: center;
}

.sobre_info i{
    color: #dc3545;
    display: inline-block;
    padding-right: 15px;
    font-size: 1.5rem;
}

.sobre_info p{
    font-size: .9rem;
}

@keyframes upSection{
    from {
        transition: .5s;
        transform: translate3d(60px, 0 , 0);
    }
    to{
        transform: translate3d(0, 0 , 0);
    }
}

@keyframes sideSection{
    from {
        transition: .5s;
        transform: translate3d(-60px, 0 , 0);
    }
    to{
        transform: translate3d(0, 0 , 0);
    }
}


/* My Service */

.services{
    background-color: #151515;
    margin-top: -30px;
    padding: 60px;
}


.my_service{
    padding: 60px;
    color: #fff;
}

.my_service ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.my_service ul li{
    cursor: pointer;
    position: relative;
    padding: 10px;
    border-radius: 6px;
    align-content: center;
    display: grid;
    gap: 30px;
    text-align: center;
    max-width: 300px;
    height: 300px;
    background-color: #222;

}

.my_service ul li i {
    font-size: 2.7rem;
    color: #dc3545;
}

.my_service ul li h3{
    color: #fff;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.my_service ul li p{
    color: #707070;
    font-size: 1.1rem;
}

.my_service li::before{
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -2px;
    right: -2px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}

.my_service li::after{
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
}

.my_service li:hover::before{
    width: 100%;
    height: 100%;
    border-top: 2px solid red;
    border-right: 2px solid red;
}

.my_service li:hover::after{
    width: 100%;
    height: 100%;
    border-bottom: 2px solid red;
    border-left: 2px solid red;
}


/* Experiencias */



.my_resume{
    color: white;
}

.resume_generica{
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 10px;
    align-items: start;
}

.resume_generica h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    background-color: #ff5d56;
    justify-self: start;
    padding: 10px;
    border-radius: 3px;
    text-transform: uppercase;
}

.resume_generica h2 i {
    margin-right: 10px;
}

.experience{
    margin-bottom: 30px;
    grid-column: 1;
    grid-row: 1;
}

.education{
    margin-bottom: 30px;
    grid-column: 2;
    grid-row: 1;
}

.experience_content ul {
    color: #ff5d56;
    gap: 10px;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
}

.resume_generica .experience_content div{
    background-color: #222;
    padding: 40px;
    display: none;
    animation: sideSection .5s ease-in-out forwards;
    position: relative;
}
.resume_generica .experience_content div.active{
    display: block;
}

.experience_content ul li.active {
    color: #3e3d3d;
}

.resume_generica .experience_content div::before{
    content: '';
    border-right: 30px solid transparent; 
    border-bottom: 30px solid #222;
    position: absolute;
    top: -20px;
    left: 30px; 
    display: inline-block;
}

.resume_generica .experience_content div span{
    color: #dc3545;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.resume_generica .experience_content div h3{
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
}

.resume_generica .experience_content div p{
    color: #707070;
    font-size: 1.1rem;
}



/* Diplomas e Cursos */

.resume_generica .education_content div{
    background-color: #222;
    padding: 40px;
    display: none;
    animation: sideSection .5s ease-in-out forwards;
    position: relative;
}
.resume_generica .education_content div.active{
    display: block;
}

.education_content ul li.active {
    color: #3e3d3d;
}


.education_content ul {
    color: #ff5d56;
    gap: 10px;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
}

.resume_generica .education_content div::before{
    content: '';
    border-right: 30px solid transparent; 
    border-bottom: 30px solid #222;
    position: absolute;
    top: -20px;
    left: 30px; 
    display: inline-block;
}

.resume_generica .education_content div span{
    color: #dc3545;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    
}

.resume_generica .education_content div h3{
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
}

.resume_generica .education_content div p{
    color: #707070;
    font-size: 1.1rem;
}



/* Cursos e Skills */

.cursos{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: start;
    padding: 30px;
    gap: 30px;
    justify-content: center;
}

.my_skills{
    display: grid;
}

.my_skills h2{
    padding: 10px 30px;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: #ff5d56;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    justify-self: start;
}

.my_skills h2 i{
    padding-right: 10px;
}

.skill_content{
    font-size: 1.5rem;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 10px;
}

.skill_content h3{
    font-size: 1.5rem;
}

.skill_content ul {
    display: flex;
}

/* Fun Facts */

.funfacts {
    grid-column: 3/-1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.funfacts h2{
    grid-column: 1/-1;
    padding: 10px 30px;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: #ff5d56;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    justify-self: start;
}

.funfacts h2 i{
    padding-right: 10px;
}

.funfacts ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    
}

.funfacts ul li{
    background-color: #222;
    border: 3px solid #2f2b2b;
    grid-template-columns: auto 1fr;
    align-self: start;
    width: 200px;
    height: 100px;
    display: grid;
    
}

.funfacts ul li i{
    grid-row: 1/3;
    margin: auto;
    padding: 20px;
    font-size: 2rem;
    color: #ff5d56;
    border-right: 2px solid #3e3d3d;
}

.funfacts ul li span{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
}

.funfacts ul li p{
    padding-left: 10px;
    color: #707070;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

/* Projetos */

.projects{
    padding: 30px;
    display: grid;
    justify-content: center;
    gap: 30px;
    background-color: #151515;
}

.projects ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.projects_models ul li{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    background-color: #222;
    border: 1px solid #333;
    padding: 6px 20px;
    color: #707070;
}

.projects_models ul li.active {
    background-color: #dc3545;
    color: #151515;
    font-weight: bold;
}

.projects_storage ul {
    display: grid;
    margin-top: 60px;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
}

.projects_storage ul li{
    display: none;
    max-width: 100%;
    height: 100%;
}

.projects_storage ul li.active{
    display: block;
    animation: animationImageButtom 2s ease-in-out forwards;
}

.projects_storage ul li  img{
    max-width: 100%;
    height: 100%;
    border-radius: 4px;
}

#link {
    background-color: #222;
    text-decoration: none;
    justify-self: center;
    padding: 20px 40px;
    border: 1px solid #333;
    color: #707070;
}

@keyframes animationImageButtom{
    0%{
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* Responsividade */

@media (max-width: 1089px){
    .resume_generica .experience_content, .education_content{
        justify-self: center;
        grid-column: 1/-1;
    }

    .resume_generica .education{
        grid-column: 1/-1;
        grid-row: 3;
        justify-self: center;
        margin: 30px 0;
    }
    .resume_generica .experience{
        grid-column: 1/-1;
        grid-row: 1;
        justify-self: center;
        
    }

    .cursos {
        grid-template-columns: 1fr;
    }

    .cursos .funfacts{
        margin-bottom: 30px;
        text-align: center;
        grid-template-columns: 1fr;
        justify-self: center;
        grid-column: 1;
    }

    .cursos .funfacts h2{
        justify-self: center;
    }

    .cursos .my_skills h2{
        justify-self: center;
    }

    .cursos .my_skills{
        
        text-align: center;
        grid-template-columns: 1fr;
        justify-self: center;
        grid-column: 1/-1;
    }
}



@media(max-width: 992px){

    .section-div img {
        display: none;
    }
    .section-div{
        background-image: url(../img/photo.png);
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    header .navegacao-primaria{
        display: none;
    }

    header {
        justify-content: space-between;
        padding: 30px 70px;
    }

    header i{
        color:#f7f7f7;
        font-size: 2rem;
    }

    header .navegacao-primaria.ativado{
        background: linear-gradient(rgba(43, 42, 42, 0.176), rgba(46, 46, 46, 0.724));
        position: absolute;
        display: grid;
        top: 80px;
        color: white;
        z-index: 1;
        padding: 30px;
        font-size: 1.3rem;
        font-weight: bold;
        border-radius: 0 0 4px 4px;
        right: 20px;
        animation: upSection .8s ease-in-out forwards;
    }

    .sobre img{
        grid-column: 1/-1;
        justify-self: center;
    }
    .sobre_conteudo{
        grid-column: 1/-1;
    }
}